## Pascal's Triangle (Python)

Given a non-negative integer numRows, generate the first numRows of Pascal's triangle.

In Pascal's triangle, each number is the sum of the two numbers directly above it.

Example:

Input: 5
Output:
[
     [1],
    [1,1],
   [1,2,1],
  [1,3,3,1],
 [1,4,6,4,1]
]

In [ ]:
def printHello():
    print(f"Hello World!")
    
printHello()

In [ ]:
name = "Vallie"

def printName(name):
    print("Hello " + name + "!")
    print(f"Using an f-string: Hi {name}.")
printName(name)

In [ ]:
def addNumbers():
    print(1 + 1)

addNumbers()

print(f"------------------")

a = 2
b = 3

def adding():
    print(f"a + b = {a + b}")
adding()

def multiplying():
    print(f"a x b = {a * b}")
multiplying()

def otherFunction():
    print(f"(a + b) - (a x b) = {a + b} - {a * b}")
    print({(a + b) - (a * b)})
    print((a + b) - (a * b))
otherFunction()

In [ ]:
listOne = [1, 3, 7, 8, 12]
listTwo = [0, 2, 1]
    
def printList(numbersList):
    print(f"The values within the list are:")
    for number in numbersList:
        print(number)
    print("The length of this list is " + str(len(numbersList)))

printList(listOne)
printList(listTwo)

In [ ]:
def plusOne(myArray):
    for number in myArray:
        print(number + 1)
        
plusOne(listOne)

print(f"---------")

print(f"The sum of listOne is {sum(listOne)}") 

print("----------")

def addArray(myArray):
    total = 0
    for number in myArray:
        total += number
        print(total)

addArray(listOne)
# need to figure out how to add together and just get the final total

In [ ]:
listA = [4, 2, 0, 1]
listB = [10, 1, 1, 2, 20]

def sum_1(anArray):
    total = 0
    for x in anArray:
        total += x
    return total
sum_1(listB)

In [ ]:
for x in range(1, 6):
    print([x])

In [ ]:
memory = {}

def pascal_soln(row, col):
    index = (row, col)
    if index in memory: return memory[index]
    if (col == 1): return 1
    if (col == row): return 1
    up_left = pascal_soln(row - 1, col - 1)
    up_right = pascal_soln(row - 1, col)
    memory[index] = up_left + up_right
    return up_left + up_right

for r in range(1, 6):
    for c in range(1, r + 1):
        print(pascal_soln(r, c), end = " ")
    print(" ")

## Python LI Learning

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [ ]:
for i in range(0, 10, 2):
    print(i)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
combinations = []

for count_100 in range(1 + 1):
    for count_50 in range(2 + 1):
        for count_25 in range(4 + 1):
            for count_10 in range(10 + 1):
                for count_5 in range(20 + 1):
                    for count_1 in range (100 + 1):
                        if 100*count_100 + 50*count_50 + 25*count_25 + 10*count_10 + 5*count_5 + 1*count_1 == 100:
                            combinations.append([count_100, count_50, count_25, count_10, count_5, count_1])

In [ ]:
combinations

In [ ]:
len(combinations)

In [ ]:
for count_25 in range(4 + 1):
    print(count_25)

In [ ]:
for amount_25 in range(0, 100+1, 25):
    print(amount_25)

In [ ]:
for amount_10 in range(0, 50 + 1, 10):
    print(amount_10)

In [ ]:
combo_amounts = []

for amount_100 in range(0, 100 + 1, 100):
    for amount_50 in range(0, 100 + 1, 50):
        for amount_25 in range(0, 100 + 1, 25):
            for amount_10 in range(0, 100 + 1, 10):
                for amount_5 in range(0, 100 + 1, 5):
                    total_so_far = amount_100 + amount_50 + amount_25 + amount_10 + amount_5
                    
                    if total_so_far <= 100:
                        combo_amounts.append([amount_100, amount_50, amount_25, amount_10, amount_5, 100 - total_so_far])

In [ ]:
combo_amounts

In [ ]:
len(combo_amounts)

### Lists

In [2]:
nephews = ['John', 'Noah', 'Cameron']

In [3]:
nephews

['John', 'Noah', 'Cameron']

In [4]:
len(nephews)

3

In [5]:
nephews[2]

'Cameron'

In [6]:
print(nephews[1])

Noah

In [7]:
nephews[-1], nephews[-2], nephews[-3]

('Cameron', 'Noah', 'John')

In [8]:
for i in range(3):
    print(nephews[i])

John
Noah
Cameron

In [9]:
for i in range(3):
    print(f"NEPHEW: {nephews[i]} Tracy")

NEPHEW: John Tracy
NEPHEW: Noah Tracy
NEPHEW: Cameron Tracy

In [10]:
mix_it_up = [1, [2, 3], 'alpha']
mix_it_up

[1, [2, 3], 'alpha']

In [11]:
for i in range(3):
    nephews[i] = nephews[i] + " Tracy"
    print(nephews[i])

John Tracy
Noah Tracy
Cameron Tracy

In [12]:
nephews

['John Tracy', 'Noah Tracy', 'Cameron Tracy']

In [13]:
nephews.append('Alex Tracy')

In [14]:
nephews

['John Tracy', 'Noah Tracy', 'Cameron Tracy', 'Alex Tracy']

In [15]:
nephews.append(['Chase Tracy', 'Mike Tracy'])

In [16]:
nephews

['John Tracy',
 'Noah Tracy',
 'Cameron Tracy',
 'Alex Tracy',
 ['Chase Tracy', 'Mike Tracy']]

In [17]:
nephews.extend(['Kyle Tracy', 'Boomer Tracy'])

In [18]:
nephews

['John Tracy',
 'Noah Tracy',
 'Cameron Tracy',
 'Alex Tracy',
 ['Chase Tracy', 'Mike Tracy'],
 'Kyle Tracy',
 'Boomer Tracy']

In [19]:
all_nephews = nephews + ['John III Tracy', 'Kidney Tracy']

In [20]:
all_nephews

['John Tracy',
 'Noah Tracy',
 'Cameron Tracy',
 'Alex Tracy',
 ['Chase Tracy', 'Mike Tracy'],
 'Kyle Tracy',
 'Boomer Tracy',
 'John III Tracy',
 'Kidney Tracy']

In [21]:
all_nephews.insert(1, 'Lima Bean Tracy')

In [22]:
all_nephews

['John Tracy',
 'Lima Bean Tracy',
 'Noah Tracy',
 'Cameron Tracy',
 'Alex Tracy',
 ['Chase Tracy', 'Mike Tracy'],
 'Kyle Tracy',
 'Boomer Tracy',
 'John III Tracy',
 'Kidney Tracy']

In [23]:
del all_nephews[5]

In [24]:
all_nephews

['John Tracy',
 'Lima Bean Tracy',
 'Noah Tracy',
 'Cameron Tracy',
 'Alex Tracy',
 'Kyle Tracy',
 'Boomer Tracy',
 'John III Tracy',
 'Kidney Tracy']

In [25]:
all_nephews.sort()

In [26]:
all_nephews

['Alex Tracy',
 'Boomer Tracy',
 'Cameron Tracy',
 'John III Tracy',
 'John Tracy',
 'Kidney Tracy',
 'Kyle Tracy',
 'Lima Bean Tracy',
 'Noah Tracy']

In [27]:
all_nephews

['Alex Tracy',
 'Boomer Tracy',
 'Cameron Tracy',
 'John III Tracy',
 'John Tracy',
 'Kidney Tracy',
 'Kyle Tracy',
 'Lima Bean Tracy',
 'Noah Tracy']

In [28]:
reverse_nephews = sorted(all_nephews, reverse=True)

In [29]:
reverse_nephews

['Noah Tracy',
 'Lima Bean Tracy',
 'Kyle Tracy',
 'Kidney Tracy',
 'John Tracy',
 'John III Tracy',
 'Cameron Tracy',
 'Boomer Tracy',
 'Alex Tracy']

### Slicing

In [ ]:
squares = [1, 4, 9, 16, 25, 36, 49]

In [ ]:
squares[0:2]

In [ ]:
squares[:4]

In [ ]:
squares[4:]

In [ ]:
squares[:]

In [ ]:
squares[0:7:2]

In [ ]:
squares[-3:-1]

In [ ]:
squares[2:4] = ['nine', 'sixteen']

In [ ]:
squares

In [ ]:
del squares[4:6]

In [ ]:
squares

In [ ]:
# tuples have parentheses instead of brackets
integers = ('one', 'two', 'three', 'four')

In [ ]:
integers

In [ ]:
integers[-2:]

In [ ]:
integers[-3], integers[-1]

In [ ]:
integers[-4:-2], integers[-1]

In [ ]:
(a, b) = (1, 2)

In [ ]:
c, d = 3, 4

In [30]:
for i, nephew in enumerate(all_nephews):
    print(i, nephew)

0 Alex Tracy
1 Boomer Tracy
2 Cameron Tracy
3 John III Tracy
4 John Tracy
5 Kidney Tracy
6 Kyle Tracy
7 Lima Bean Tracy
8 Noah Tracy

In [31]:
def three_args(a, b, c):
    print(a, b, c)

In [32]:
my_args = (1, 2, 3)

In [34]:
three_args(*my_args)

1 2 3